---
# Welcome to sass file ...
---
/*!
 * Mangan v1.3.4
 * Copyright 2015-2017 Diki Ananta
 * Released under the MIT license
 */
@charset "utf-8";

// Font family ...
$base-font-family: 'Pixel Digivolve Cyrillic', ;
$mono:  		   'InconsolataLGC', ;

// A sizes ...
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.6;
$base-line-height: 1.5;
$spacing-unit:     30px;

// Color ...
$dark-color-aap:   #2D2D2D;
$link-color: 	   #3c4245;
$link-hover-color: #151617;
$background-color: #F9F9F9;
$grey-color:       #828282;
$date-color:	   #626262;
$github-color:     #4A4A4A;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area ...
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this ...
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from _sass ...
@import
        "base",
        "layout",
        "fonts"
;
