---
layout: default
---
<div class="home">
  <div class="content-col-wrapper">
    <div class="content-col">
      <div class="dummy">
        <b><span class="big">Hi!</span></b> {{ site.description }}
        <br>
        You can contact me via <a href="mailto:{{ site.email }}"><b>{{ site.email }}</b></a>.
        <br>
        If you want hire me here is my <a href="/assets/cv.pdf">CV</a>
         <br><br> 

        <div class="dummy blogpost">
          ✍ <b><span class="big">Writings.</span></b>
        </div>
      </div><p></p><p></p>
      <ul class="post-list">{% for post in paginator.posts %}
        <li class="titlepost">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
        <li class="datepost">
          <span class="post-meta">{{ post.date | date: "%-d %b %Y" }}</span>
        </li>{% endfor %}
      </ul>
    </div>
  </div>{% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}">
    <b><span class="big">Balik Lagi</span></b>
  </a>{% else %}{% endif %}{% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}">
    <b><span class="big">Lanjut</span></b>
  </a>{% else %}{% endif %}
  {% include nav.html %}
</div>
