/**
 * Reset some basic elements
 */
 h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling :#
 */
 body {
  font-family: $mono;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $dark-color-aap;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
 h1, h2, h3, h4, h5, h6,
 p, blockquote, pre,
 ul, ol, dl, figure,
 %vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 * img.displayed : ico for header links
 */
 img {
  max-width: 100%;
  vertical-align: middle;
}

img.displayed {
  margin: 40px auto;
  width: 25px;
  height: 25px;
}

/**
 * Figures
 */
 figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
 ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
   margin-bottom: 0;
 }
}

/**
 * Headings
 */
 h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/**
 * Links
 */
 a {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

hr {
  margin: 40px 65% 40px 0;
  border: 0;
  border-top: 1px solid #B5B5B5;
}

/**
 * Blockquotes
 */
 blockquote {
  padding: 10px 20px 10px 50px;
  color: #6C6C6C;
  border-left: 4px double #DEDEDE;
  font-size: 16px;
  letter-spacing: 0.1px;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
 pre,
 code {
  font-family: $mono;
  background-color: #EAEAEA;
  color: #2E2E2E;
}

code {
  padding: 3px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

table {
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;

  tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;

    &:nth-child(2n) {
      background-color: #f6f8fa;
    }
  }

  td, th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }
}
/**
 * Wrapper
 */
 .wrapper {
  max-width: calc(700px);
  margin-right: auto;
  margin-left: auto;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }

  @include media-query($on-palm) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.wrapper-fit {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
 * Clearfix
 */
 %clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Icons
 */
 .icon {

  > svg {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;

    path {
      fill: $github-color;
    }
  }
}

img[alt$=">"] {
  float:right;
}

img[alt$="<"] {
  float:left;
}

img[alt$="<>"] {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none!important;
}