@font-face {
    font-family: 'InconsolataLGC';
    src: url('../fonts/InconsolataLGC.eot');
    src: url('../fonts/InconsolataLGC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/InconsolataLGC.woff2') format('woff2'),
        url('../fonts/InconsolataLGC.woff') format('woff'),
        url('../fonts/InconsolataLGC.ttf') format('truetype'),
        url('../fonts/InconsolataLGC.svg#InconsolataLGC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pixel Digivolve Cyrillic";
    src: url('../fonts/PixelDigivolveCyrillic.eot');
    src: url('../fonts/PixelDigivolveCyrillic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PixelDigivolveCyrillic.woff2') format('woff2'),
         url('../fonts/PixelDigivolveCyrillic.woff') format('woff'),
         url('../fonts/PixelDigivolveCyrillic.ttf') format('truetype'),
         url('../fonts/PixelDigivolveCyrillic.svg#PixelDigivolveCyrillic') format('svg');
    font-weight: normal;
    font-style: normal;

}